<style type="text/css">
    
</style>

<!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="VerseSearch" asp-action="Index">Bible Verse Search</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="VerseSearch" asp-action="Index">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->
<div class="header" itemscope="" itemtype="https://schema.org/Organization" style="border-bottom:solid black 2px">
    <div id="header-main" class="bk">
        <div class="main">
            <div class="top_header">
                <div class="kjv_logo">
                    <picture>
                        <a href="/" title="King James Bible Online">
                            <source type="image/webp" srcset="https://www.kingjamesbibleonline.org/images/king-james-bible-online.png">
                            <img itemprop="image" src="https://www.kingjamesbibleonline.org/images/king-james-bible-online.png" width="147" height="139" title="King James Bible Online" alt="King James Bible Online">
                        </a>
                    </picture>
                </div>
                <div class="header_menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="/" id="nav1" title="Standard King James Version (KJV)" class="cinzel">KJV Standard</a>
                            </li>
                            <li>
                                <a href="/1611-Bible/" id="nav2" title="Originally published KJV from 1611 A.D." class="cinzel">KJV 1611</a>
                            </li>
                            <li>
                                <a href="https://m.kingjamesbibleonline.org" id="nav3" title="Mobile Site" class="cinzel">Mobile</a>
                            </li>
                            <li>
                                <a href="/Bible-Trivia-Questions/" id="nav4" title="Bible Trivia" class="cinzel">Bible Trivia</a>
                            </li>
                            <li>
                                <a href="../Bible-Discussion" id="nav4" title="Bible Discussion" class="cinzel">Discussion</a>
                            </li>
                            <li>
                                <a href="Sitemap.php" id="nav5" title="Site map of KJV resources and information" class="cinzel">More...</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="right_image size12">
                    <a href="../my-account/sign-in.php" class="georgia tan" title="Sign In or Register"><br> Sign In </a>
                </div>
                <div class="clr"> </div>
            </div>
            <div class="below_header">
                <div class="headertitle">
                    <h1>King James Bible</h1>
                    <h2>The Preserved and Living Word of God</h2>
                </div>
                <picture class="kjv_image">
                    <source type="image/webp" srcset="https://www.kingjamesbibleonline.org/images/king-james-bible.webp">
                    <img itemprop="image" src="https://www.kingjamesbibleonline.org/images/king-james-bible.png" width="359" height="160" title="King James Bible" alt="King James Bible">
                </picture>
                <div class="clr" ></div>
            </div>
        </div>
    </div>
</div>